<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="LOG_FILE_HOME" value="@log.root.path@" />
    <property name="MODULE_NAME" value="@log.system@" />
    <property name="DEFAULT_LEVEL" value="@log.level@" />
    <property name="DEFAULT_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />
    <property name="FILE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <!-- 控制台 appender定义 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- 普通日志文件 appender定义 -->
    <appender name="lbcAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_FILE_HOME}/app_${MODULE_NAME}.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE_HOME}/app_${MODULE_NAME}.%d{yyyy_MM_dd}.%i.gz</fileNamePattern>
            <!-- 每个文件最大为 100MB, 保持 30 days , 总共最大20G -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- error日志 -->
    <appender name="lbcErrorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <File>${LOG_FILE_HOME}/error_${MODULE_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_FILE_HOME}/error_${MODULE_NAME}.%d{yyyy_MM_dd}.%i.gz</fileNamePattern>
            <!-- 每个文件最大为 100MB, 保持 30 days , 总共最大20G -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>${FILE_PATTERN}</Pattern>
        </encoder>
    </appender>


    <logger name="com.wuhulala.discovery" additivity="false">
        <level value="${DEFAULT_LEVEL}" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="lbcAppender" />
        <appender-ref ref="lbcErrorAppender" />
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="${DEFAULT_LEVEL}" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="lbcAppender" />
        <appender-ref ref="lbcErrorAppender" />
    </logger>

    <root level="${DEFAULT_LEVEL}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="lbcAppender" />
        <appender-ref ref="lbcErrorAppender" />
    </root>
</configuration>

